
<link rel="stylesheet" type="text/css" href="__PCCSS__rebate.css" />
</head>
<body>
<include file="Public:top"/>
<div class="bg_h">
    <div class="ededed">


        <!-- 右边 -->
        <div class="ededed_r">
            <div class="explain">
                <div class="h5"><span>什么是返利</span></div>
                <p>1.返利是.....................................</p>
                <p>2.返利是.....................................</p>
                <p>3.返利是.....................................</p>
                <p>4.返利是.....................................</p>
            </div>
        </div>



        <!-- 左边 -->
        <include file="User:accountLeft"/>

    </div>
</div>