 {__NOLAYOUT__}

 <li><i>{$go_number}</i> 件商品，总商品金额：<span>¥{$total.goods_price}</span></li>
 <gt name="total.shipping_fee" value="0">
 <li>运费：<span>¥{$total.shipping_fee}</span></li>
 </gt>
 <gt name="total.coupon_amount" value="0">
 <li>使用优惠券：<span>-¥{$total.coupon_amount}</span></li>
 </gt>
<gt name="total.bonus_amount" value="0">
   <li>使用红包：<span>-¥{$total.bonus_amount}</span></li>
</gt>
<gt name="total.integral_amount" value="0">
   <li>使用积分（<em id="use_integral">{$total.integral}</em>）：<span>-¥{$total.integral_amount|default=0}</span></li>
</gt>

 <li>应付总额：<span>¥{$total.amount}</span></li>







