<div class="bdsharebuttonbox" data-tag="share_1">
    <!-- 此处添加展示按钮 -->
    <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
    <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
    <a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
    <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
</div>

<script>
    window._bd_share_config = {

     //此处放置通用设置
        'common' : {
            "bdText":"{$title}",
            "bdDesc":"{$desc}",
            "bdUrl":"{$link}",
            "bdPic":"{$imgUrl}",
        },
    //分享按鈕設置
        'share' : {"bdSize" : 16 },
 
    //浮窗分享設置
        // 'slide' : {
        //       "bdImg" : 0,
        //       "bdPos" : "right",
        //       "bdTop" : 20
        //   },

    //圖片分享設置
        // "image": {
        //           "viewList":["qzone","tsina","tqq","weixin"],
        //           "viewText":"分享到：",
        //            "viewSize":"16",
        //          },

    //劃詞分享設置 
       // "selectShare":
       //          {
       //               "bdContainerClass":null,
       //               "bdSelectMiniList":["qzone","tsina","tqq","weixin"]
       //           }
    }
</script>
<script>
    //以下为js加载部分
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];

</script>