<link rel="stylesheet" type="text/css" href="__CSS__/place_mobile.css" media="(max-width:750px)" />
<link rel="stylesheet" type="text/css" href="__CSS__/place_pad.css" media="(min-width:750px)">
<script type="text/javascript" src="__PJS__/shanbumin.js"></script>
</head>
<body>

<!-- 地址头部开始 -->
<div class="header_box">
    <div class="header_title">修改地址</div>
    <span class="return" onclick="history.go(-1);"><img src="__IMG__fh.jpg" alt="" /></span>
</div>
<!-- 地址头部结束 -->
<!-- 地址内容开始 -->

<form action="{:U('Region/doEditConsignee')}" method="post">
<div class="address_box">
    <div class="columns">
        收货人：
        <input type="text" name="consignee" class="input" value="{$address.consignee}" placeholder="请输入收件人" />
    </div>
    <div class="columns">
        手机号：
        <input type="text" name="mobile" class="input" value="{$address.mobile}" placeholder="请输入联系方式" />
    </div>
    <div class="columns click">
        省市区：{$address.province} {$address.city}   {$address.district}
    </div>
    <script type="text/javascript">
            $('.click').click(function(event) {
            $('.all').fadeIn();
        });
    </script>
    <div class="columns">
        街道地址：
        <input type="text" name="address" value="{$address.address}"  class="input" placeholder="请输入详细地址" />
    </div>
<!--     <div class="columns dif">
        设为默认地址
        <div class="tick_box">
            <div class="rud" <eq name="address.is_default" value="Y">style="display:none"</eq> ></div>
            <div class="tick" <eq name="address.is_default" value="Y">style="display:block"</eq> >
               <img src="__IMG__tick.jpg" alt="" />
           </div>
      </div>
    </div> -->
</div>
<div class="footer">
     <input type="hidden" name="address_id" value="{$address.id}" />
     <notempty name="quick">
         <input type="hidden" name="quick" value="{$quick}" />
     </notempty>
    <button class="place_bt" type="submit">确认修改</button>
</div>





<!-- 省市区选择块 -->
<div class="layer_bg all" style="display:none">
    <div class="layer_box">
        <div class="title">选择省市区</div>
        <div class="layer_list check1">
            <div class="layer_name">省 份</div>
            <div class="listbox">
                <i>{$address.province}</i>
                <div class="mark"></div>
            </div>
        </div>

        <script type="text/javascript">
//编辑的话，三个框默认都是可以点击弹出来的
        $(function(){
             
             $('.check1').click(function(event) 
             {
                 $('.province').fadeIn();
             });  
             $('.check2').click(function(event) 
             {
            
                 $('.city').fadeIn();
             }); 
             $('.check3').click(function(event) 
             {
                 $('.area').fadeIn();
             }); 

        })


        </script>
<!-- ################################################# -->
        <div class="layer_list check2">
            <div class="layer_name">城 市</div>
            <div class="listbox">
                <i>{$address.city}</i>
                <div class="mark"></div>
            </div>
        </div>
        <div class="layer_list check3">
            <div class="layer_name">区 域</div>
            <div class="listbox">
                <i>{$address.district}</i>
                <div class="mark"></div>
            </div>
        </div>
        <div class="layer_btbox">
            <div class="layer_bt">确 定</div>
        </div>
    </div>
</div>

<script type="text/javascript">

     $('.layer_bt').click(function(event) {
         $('.layer_bg').fadeOut();
         $('.click').html("省市区："+$('.check1 i').text()+" "+$('.check2 i').text()+" "+$('.check3 i').text())
     });
     
</script>









<!-- 省选择块 -->
<div class="layer_bg province" style="display:none">
    <div class="bg_box">

    <volist name="province_list" id="value" key="key1">
       <label for="province{$key1}"  onclick="change_province(this);"    >
            <div class="box_in">{$value.region_name}</div>
       </label>
       <input type="radio" name="province" id="province{$key1}" value="{$value.region_name}" <eq name="value.region_name" value="$address.province">checked</eq> />
   </volist>
 </div>
</div>




<!-- 市选择块 -->
<div class="layer_bg city" style="display:none">
  <include file="Public/city_list"/>
</div>
<!-- 区选择块 -->
<div class="layer_bg area" style="display:none">
   <include file="Public/district_list"/>
</div>


</form>
</body>
</html>