<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{:C('WEBSITE.TITLE')} - {:C('WEBSITE.NAME')}</title>
    <link rel="stylesheet" type="text/css" href="/Public/Common/Images/common.css" />
    <link rel="stylesheet" type="text/css" href="/Public/Mobile/Thumbs/thumbs.css" />
    <script src="__JS__jquery.js"></script>
    <script src="/Public/Common/Js/common.js"></script>
</head>
<body>
<img src="/Public/Mobile/Thumbs/im-men.jpg" width="100%">

<div id="info">
    <div class="word">
        <p>美容行业一线的亲们,大家新年好！</p>
        <p>我是赵海彪。也有人叫我：“最”人。</p>
        <p>过去10年，郝莲娜用“最”贵的原料，用“最”高科技的技术，满足“最”挑剔女性的护肤需求。</p>
        <p>快过年了，我在这里提前给大家拜个早年，祝美业同仁在2016年猴年大吉、喜气“羊羊”！</p>
        <p>过去30多年，中国美业取得了变革性的长远发展、由最初的美发、美容、养生、医美、到未来的整体美，都是由从业人员的技能升级满足人们整体美的需求、进而成为国家衣.食.住.行.美第五大产业。我是美业人我骄傲！</p>
    </div>
    <img class="im" src="/Public/Mobile/Thumbs/im-001.jpg" width="80%">
    <div class="word">
        <p>这些进步离不开美业每一位同仁的兢兢业业、任劳任怨、辛苦付出、坚持不懈的努力付出。</p>
        <p>这其中的辛苦我感同身受、过去十年、我们为美丽事业贡献再苦再累都非常享受。</p>
        <p>未来我们借助移动互联网时代，相信美业会更加辉煌。或许在路上有更多的挑战、或许还要苦苦的坚持、但是娱乐一下自己、造福一点别人、利人利己的事还是要做一做。</p>
    </div>
    <img class="im" src="/Public/Mobile/Thumbs/im-002.jpg" width="80%">
    <div class="word">
        <p>所以今天、我给大家送点、喜气“羊羊”，羊工工是我家乡内蒙古锡盟牧民家的羊、吃的中草药、喝的是矿泉水、拉的是六味地黄丸。</p>
        <p></p>
    </div>
    <h1 class="h1-1">感恩十年·喜气“羊羊”</h1>
    <img src="/Public/Mobile/Thumbs/im-sign-note.png" class="im-sign-note">
    <div class="word">
        <p>1.填写你的个人真实资料、联络方式、转发到你朋友圈。</p>
        <p>2.活动期间每月票数排名前<strong>50名</strong>个人投票数超过500，即可获得一份价值<strong>200元</strong>内蒙牧场<strong>羊排一份</strong>。</p>
        <p>3.活动结束票数排名前<strong>3名</strong>个人投票数超过5000，可免费参加2016年7月内蒙古草原游<strong>吃.住.行.我全包哦</strong>！</p>
        <p></p>
        <p>活动时间：2016.01.29—2016.07.1</p>
        <p>注：礼盒共计100份、送完为止！</p>
        <p></p>
    </div>
    <img src="/Public/Mobile/Thumbs/im-sign-btn.png" class="im-sign-btn js-sign-btn">
    <div class="word">
        <p></p>
    </div>
    <img src="/Public/Mobile/Thumbs/im-ship-note.jpg" class="im-ship-note">
    <div class="center">
        <p><img src="/Public/Mobile/Thumbs/im-003.jpg" width="80%">每天我们可以在阳光灿烂的早晨活动筋络，好舒服呀！</p>
        <p><img src="/Public/Mobile/Thumbs/im-004.jpg" width="80%">来，给我来个美美的近照，么么哒！</p>
        <p><img src="/Public/Mobile/Thumbs/im-005.jpg" width="80%">风吹草低见牛羊，说的就是我们美丽的内蒙古大草原哦！</p>
        <p>
            <img src="/Public/Mobile/Thumbs/im-006.jpg" width="80%">
            <img src="/Public/Mobile/Thumbs/im-007.jpg" width="80%">
            <img src="/Public/Mobile/Thumbs/im-008.jpg" width="80%">
            <img src="/Public/Mobile/Thumbs/im-009.jpg" width="80%">
        </p>
        <p><img src="/Public/Mobile/Thumbs/im-010.jpg" width="80%">我们还获得了锡林郭勒盟行政公署的《重点龙头企业》光荣称号！</p>
        <p>&nbsp;</p>
        <p><img src="/Public/Mobile/Thumbs/im-011.jpg" width="80%"></p>
        <p><img src="/Public/Mobile/Thumbs/im-012.jpg" width="80%"></p>
        <p>锡盟羊排入口口感细腻，肥肉也不会很腻，<br/>且膻味小，细品有淡淡的葱香味。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;</p>
        <p><img src="/Public/Mobile/Thumbs/im-013.png" width="60%"></p>
        <p><img src="/Public/Mobile/Thumbs/im-014.jpg" width="85%"></p>
        <p>&nbsp;</p>
    </div>
    <div class="list-tab js-list-tab">
        <a class="hover" href="javascript:;" data-rel="hits">按投票数</a>
        <a href="javascript:;" data-rel="id">按编号</a>
        <input id="list-order" type="hidden" value="hits">
    </div>
    <ul class="list js-list"></ul>
    <div class="page js-page"></div>
    <div class="word">
        <p></p>
    </div>
    <img src="/Public/Mobile/Thumbs/im-sign-btn.png" class="im-sign-btn js-sign-btn">
</div>

<div id="form" class="form">
    <form id="js-form" onsubmit="return false;">
        <table width="90%" align="center">
            <thead>
            <tr>
                <th>报名信息</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" name="consignee" required="required" placeholder="姓名（必填）"></td>
            </tr>
            <tr>
                <td><input type="text" name="corp" required="required" placeholder="公司或店名（必填）"></td>
            </tr>
            <tr>
                <td><input type="text" name="mobile" required="required" placeholder="手机号码（必填）"></td>
            </tr>
            <tr>
                <td>
                    <select name="province" required="required">
                        <option value="0">请选择省份</option>
                    </select>
                    <select name="city" required="required">
                        <option value="0">请选择城市</option>
                    </select>
                    <select name="district" required="required">
                        <option value="0">请选择区域</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="address" required="required" placeholder="详细地址（必填）"></td>
            </tr>
            <tr>
                <td><textarea name="note" required="required" maxlength="50" placeholder="推荐词（必填）最多50个字"></textarea></td>
            </tr>
            <tr>
                <td><button type="submit">提交</button></td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" name="do" value="sign">
    </form>
</div>

<div class="center">
    <p>&nbsp;</p>
    <p><img src="/Public/Mobile/Thumbs/im-015.png" width="28%"></p>
    <p>您的健康财富专家 · 出品</p>
    <p>&nbsp;</p>
</div>
</body>
</html>
<script src="/Public/Common/Js/address.js"></script>
<script>
    $('.js-sign-btn').on('click',function(){
        $('#info').hide();
        $('#form').show();
    });

    $('#js-receive').on('click',function(){
        $('.receive-bg,.receive-form').show();
    });

    /**
     * 显示报名列表
     * @param page
     */
    function list(page){
        page = parseInt(page);

        $.post('?p='+ page,{ 'do':'list','order':$('#list-order').val() },function(ret) {
            var html = '';
            var pages = '';

            if (!ret.state || !ret.count){
                html += '<li style="text-align:center;">暂无数据</li>';
            }else{
                var tpl = '<li>' +
                        '<img src="{avatar}" class="head">' +
                        '<p>{note}</p>' +
                        '<p>' +
                        '<span class="no">编号：{id}</span>' +
                        '<a class="btn js-thumbs" href="javascript:;" data-rel="{user_id}">支持Ta（<em>{hits}</em>）</a>' +
                        '</p>' +
                        '</li>';

                $.each(ret.list,function(i,e){
                    html += Core.FormatTpl(tpl,{
                        'avatar':e.avatar,
                        'note':e.note,
                        'id':('0000'+e.id).substr(-5),
                        'user_id':e.user_id,
                        'hits':e.hits.toString()
                    });
                });

                if (ret.pages > 1){
                    pages += '<a href="javascript:;" data-rel="'+ (page>1?page-1:1) +'">《 上一页</a>';

                    var p = 1;
                    for (var i = 1; i <= 5 && p < ret.pages; i++){
                        if (page < 3)
                            p = i;
                        else if (page > ret.pages - 3)
                            p = ret.pages - 5 + i;
                        else
                            p = page - 3 + i;

                        if (p == page)
                            pages += '<span>'+ p +'</span>';
                        else
                            pages += '<a href="javascript:;" data-rel="'+ p +'">'+ p +'</a>';

                    }

                    pages += '<a href="javascript:;">…</a><a href="javascript:;" data-rel="'+ (page < ret.pages ? page+1 : page) +'">下一页 》</a>';
                }
            }

            $('.js-list').html(html);
            $('.js-page').html(pages);
        },'json');
    }

    $('.js-list-tab').on('click','a',function(){
        $(this).siblings('a').removeClass('hover');
        $(this).addClass('hover');
        $('#list-order').val($(this).attr('data-rel'));
        list(1);
    });

    $('.js-list').on('click','.js-thumbs',function(){
        var el = $(this);
        var data = {
            'do':'hit',
            'thumbs_user':el.attr('data-rel')
        };

        $.post('',data,function(ret){
            //console.log(ret);
            if (ret.state){
                Core.Alert({ 'text':ret.message,'callback':function(){
                    el.find('em').text(parseInt(el.find('em').text())+1);
                } });
            }else{
                Core.Alert({ 'text':ret.message,'state':'err' });
            }
        },'json');
    });

    $('.js-page').on('click','a',function(){
        list($(this).attr('data-rel'));
    });
    $('.js-list-tab a:first').click();

    var form = $('#js-form');
    var option = '<option value="">请选择</option>';
    $(allProvince).each(function(i,e){
        option += '<option value="'+ e.name +'" pid="'+ e.ProID +'">'+ e.name +'</option>';
    });
    $('#js-form select[name="province"]').html(option);

    form.on('click','.close',function(){
        $('.receive-bg,.receive-form').hide();
    }).on('change','select[name="province"]',function(){
        var ProID = $(this).find('option:selected').attr('pid');
        var option = '<option value="">请选择</option>';

        $(allCity).each(function(i,e){
            if (e.ProID == ProID)
                option += '<option value="'+ e.name +'" cid="'+ e.CityID +'">'+ e.name +'</option>';
        });

        form.find('select[name="city"]').html(option).show();
        form.find('select[name="district"]').hide();
    }).on('change','select[name="city"]',function(){
        var CityID = $(this).find('option:selected').attr('cid');
        var option = '<option value="">请选择</option>';

        $(allDistrict).each(function(i,e){
            if (e.CityID == CityID)
                option += '<option value="'+ e.name +'">'+ e.name +'</option>';
        });

        form.find('select[name="district"]').html(option).show();
    }).on('keyup propertychange input','textarea[name="note"]',function(e){
        if ($.syncProcessSign) return;
        $.syncProcessSign = true;

        var n = parseInt($(this).attr('maxlength'));
        if ($(this).val().length >= n) {
            $(this).val($(this).val().substr(0, n));
        }

        $(this).height(0).height(this.scrollHeight);

        $.syncProcessSign = false;
    }).on('submit',function(){
        Core.Alert({ 'text':'正在提交数据，请稍候...','state':'load','timeout':9999 });

        setTimeout(function(){
            //提交快递地址
            var data = Core.InputObj(form);

            $.post("",data,function(ret){
                //console.log(ret);
                if (ret.state){
                    Core.Alert({ 'text':ret.message,'callback':function(){
                        location.href='/';
                    } });
                }else{
                    Core.Alert({ 'text':ret.message,'state':'err' });
                }
            },'json');
        },200);
    });
</script>