<div class="art-nav">
    <h2>{$page_title}</h2>
    <span class="right">
        <a class="button" href="{:U('index')}">返 回</a>
    </span>
</div>
<form class="js-edit">
    <table class="tbl" width="100%">
        <tbody>
        <tr>
            <td class="label">类型名称</td>
            <td><input name="type_name" class="text" type="text" value="{$edit['type_name']}" placeholder="请输入类型名称..."></td>
        </tr>
        <tr>
            <td class="label">父分类</td>
            <td>
                <select name="parent_id" class="select" option="{$edit['parent_id']}">
                    <option value="0">--请选择--</option>
                    <volist name="shop_type" id="vo">
                        <option value="{$vo['id']}">{$vo['type_name']}</option>
                    </volist>
                </select>
            </td>
        </tr>
        <tr>
            <td class="label"></td>
            <td>
                <button type="submit" class="submit">提 交</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak={$map['ak']}"></script>
<script>
    $('.js-edit').on('submit',function(event){
        var data = Core.InputObj(this);

        $.post('',data,function(ret){
            if ( ret.state ){
                Core.Alert({ 'text':ret.message,'state':'suc','callback':function(){
                    location.href = "{:U('index')}";
                } });
            }else{
                Core.Alert({ 'text':ret.message,'state':'err' });
            }
        },'json');

        return false;
    });
</script>