@charset "utf-8";
/* CSS Document */
.false{ background: url(../Images/404_02.jpg) 0px 0px /100% 100% no-repeat; position:fixed; width:100%; height:100%;}
.false a{ display:block; width:25.3%; height:6%; background:rgba(0,0,0,0);}
.false a.left{ position:absolute; top:77%; left:20%;}
.false a.right{ position:absolute; top:77%; right:21%;}