html{font-size:12px;font-family: "冬青黑体简体中文";height:100%;}
body{height:100%;}
.head_box{width:100%;max-width: 750px;position:fixed;top:0;background:#fff;z-index: 999;}
.head{width:100%;height:44px;border-bottom: 1px solid #ccc;text-align: center;font-size: 1.4rem;line-height:44px;position:relative;}
.head .return{width:9px;position:absolute;left:10px;top:13px;}
.columns_box{width:100%;height:44px;border-bottom: 1px solid #ccc;}
.columns_in{width:20%;height:44px;float:left;text-align: center;box-sizing: border-box;}
.columns_in .columns{width:100%;font-size: 1.1rem;height:17px;line-height:17px;margin-top:13px;border-right: 1px solid #ccc;color:#7F7F7F;box-sizing: border-box;}
.cur{border-bottom: 2px solid #E8C473;}
.cur .columns{color:#252525;}
.goods_bbox{padding:90px 10px 0;display:none;}
.acc{display:block;}
.goods_box{position:relative;box-sizing: border-box;border-bottom: 1px solid #ccc;}
.bt_box{position:absolute;bottom:20px;left:135px;}
.goods_box{width:100%;padding-top:20px;overflow:hidden;overflow:hidden;}
.goods_in{width:100%;height:125px;box-sizing: border-box;margin-bottom:20px;}
.goods_photo{width:125px;height:125px;overflow:hidden;position:absolute;left:0;border: 1px solid #808080;}
.goods_inf{width:100%;padding-left:135px;box-sizing: border-box;}
.goods_inf .title{font-size: 1.1rem;}
.goods_inf .price{color:#E8C473;line-height:30px;margin-top:10px;}
.goods_inf .price i{font-size: 1.4rem;font-weight: bold;}
.goods_inf .price .left{float:right;color:#7F7F7F;}
.goods_one .bt_box .bt{width:76px;height:23px;line-height:23px;text-align: center;float:left;}
.goods_one .bt_box .one{border: 1px solid #E8C473;color:#E8C473;margin:5px 10px 0 0;box-sizing: border-box;}
.goods_one .bt_box .two{background:#E8C473;color:#fff;margin-top:5px;}
.goods_two .bt_box{bottom:75px;}
.goods_two .bt_box .three{width:99px;height:23px;line-height:23px;text-align: center;float:left;background:#E8C473;color:#fff;margin-top:5px;}
.goods_three .bt_box .bt{width:76px;height:23px;line-height:23px;text-align: center;float:left;}
.goods_three .bt_box .one{border: 1px solid #E8C473;color:#E8C473;margin:5px 10px 0 0;box-sizing: border-box;}
.goods_three .bt_box .two{background:#E8C473;color:#fff;margin-top:5px;}

.goods_four .bt_box .bt{width:76px;height:23px;line-height:23px;text-align: center;float:left;}
.goods_four .bt_box .one{border: 1px solid #E8C473;color:#E8C473;margin:5px 10px 0 0;box-sizing: border-box;}
.goods_four .bt_box .two{background:#E8C473;color:#fff;margin-top:5px;}

.goods_five .bt_box .three{width:99px;height:23px;line-height:23px;text-align: center;float:left;background:#E8C473;color:#fff;margin-top:5px;}
.content{min-height:80%;}
.order_inf{line-height:28px;font-size: 1.1rem;}


.bg{width:100%;height:100%;background:rgba(0,0,0,0.6);position:fixed;top:0;z-index: 999;display:none;}
.remind{width:194px;height:58px;background:#fff;position:absolute;top:50%;margin-top:-29px;left:50%;margin-left:-97px;text-align: center;line-height: 58px;font-size: 1.3rem;}


.copyright{height:67px;font-size:0.8rem;text-align: center;line-height: 14px;padding-top:12px;box-sizing: border-box;color:#6d6d6d;}


