{__NOLAYOUT__}
<volist name="coupon" id="vo">
    <php>$rand = mt_rand(1,3);</php>
    <li class="ajax_coupon1_display" >
        <div class="coupon_1 coupon_{$coupon_type_id}_{$rand} ">
            <p class="p1">整体美优惠券<span>{$coupon_type}</span></p>
            <p class="p2"><span><i>{$vo['coupon_money']|sprintf='%d',###}</i>元</span><img src="__PCIMG__coupon_04.jpg" class="l" alt="" />满{$vo['min_order_amount']|sprintf='%.2f',###}元可用<img src="__PCIMG__coupon_05.gif" class="r" alt="" /></p>
        </div>
        <p class="date">{$vo['use_start']|date='Y-m-d',###} —— {$vo['use_end']|date='Y-m-d',###}</p>
    </li>
</volist>