
<link rel="stylesheet" type="text/css" href="__PCCSS__user.css" />
</head>
<body>


<include file="Public:top"/>



<div class="user_bg">
    <div class="user">
        <include file="User:publicLeft"/>
        <div class="user_right">
            <form action="">
                <div class="user_data">
                    <p class="title">
                        <span>
                        <!-- 个人信息 -->
                        错误

                        </span>
                    </p>
                    <div class="security">

                        <!-- 第一次绑定手机号码s -->
                        <ul class="">
                            <li class="li0">
                                <p>{$message}</p>
                            </li>
                            <li class="li4"><button onclick="location.href='{$url}';" type="button">确定</button></li>
                        </ul>
                        <!-- 第一次绑定手机号码e -->

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('.js-confirm').on('click',function(){

    });
</script>












