
<link rel="stylesheet" type="text/css" href="__PCCSS__user.css" />
</head>
<body>


<include file="Public:top"/>



<div class="user_bg">
    <div class="user">
        <include file="User:publicLeft"/>
        <div class="user_right">
            <form action="" id="js-form">
                <div class="user_data">
                    <p class="title">
                        <span>
                        <!-- 个人信息 -->
                        <if condition="$user['mobile']">修改<else/>绑定</if>手机

                        </span>
                    </p>
                    <div class="security">

                        <ul class="">
                            <li class="li0">
                            </li>
                            <if condition="$user['mobile']">
                            <li class="li1"><span>已绑定手机号码</span><input type="text" value="{$user['mobile']|substr=###,0,3}****{$user['mobile']|substr=###,7}" disabled='disabled'/></li>
                            <li class=""><span>新的手机号码</span><input name="mobile" type="text" /></li>
                            <else/>
                            <li class="li1"><span>请输入手机号码</span><input name="mobile" type="text" /></li>
                            </if>
                            <li class="li2"><span>手机验证码</span><input name="sms_code" type="text" /><button class="js-sms-code click" data-rel="new" type="button">获取验证码</button></li>
                            <if condition="$user['answer']">
                            <li class="li3">
                                <span>安全问题</span>

                                <input type="hidden" class="js-wenti" />
                                <div class="select fixed">
                                    <i>{$user['question']}</i>
                                </div>
                            </li>
                            <li class="">
                                <span>输入答案</span>
                                <input name="answer" type="text" />
                            </li>
                            </if>
                            <li class="li4"><button class="js-submit" type="button">确定</button></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var checkMobile = false;
    $("input[name=mobile]").on('keyup blur',function(){
        var tel = $.trim($(this).val());
        var reg = /^0?1[3|4|5|8][0-9]\d{8}$/;
        if(!reg.test(tel)){
            $(this).addClass('false');
            $('.js-sms-code').addClass('click');
            checkMobile = false;
        }else{
            $(this).removeClass('false');
            $('.js-sms-code').removeClass('click');
            checkMobile = true;
        }
    });
    $('.js-sms-code').on('click',function(){
        $("input[name=mobile]").blur();
        if(checkMobile==false){
            $(this).addClass('click');
            $(this).prop('disabled')
            return;
        }
        if ($(this).prop('disabled'))
            return;
        $(this).prop('disabled',true);
        var timeout = 60;
        var el = $(this);
        $.post("{:U('Sms/userMobile')}",{ 'topic':el.attr('data-rel'),'mobile':$('input[name=mobile]').val() },function(ret){
            if (ret.state){
                Core.Alert({ 'text':ret.message });
                sms_time(el,timeout);
            }else{
                Core.Alert({ 'text':ret.message,'state':'err' });
            }
        },'json');
    });

    function sms_time(el,timeout){
        if (timeout == 0) {
            el.removeClass('click').prop('disabled',false).html('获取验证码');
        }else{
            el.addClass('click').prop('disabled',true).html('重新发送('+ timeout +')');
            timeout--;
            setTimeout(function(){
                sms_time(el,timeout);
            },1000);
        }
    }

    $('.js-submit').on('click',function(){
        var data = Core.InputObj($('#js-form'));

        $.post('',data,function(ret){
            if (ret.state){
                Core.Alert({ 'text':ret.message,'callback':function(){
                    if ("{:I('get.redirect','','base64_decode')}")
                        location.href = "{:I('get.redirect','','base64_decode')}";
                    else
                        location.reload();
                } });
            }else{
                Core.Alert({ 'text':ret.message,'state':'err' });
            }
        },'json');
    });
</script>