{__NOLAYOUT__}
<script type="text/javascript">
  

  function callpay()
  {


    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
            document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
        }
    }else{
        jsApiCall();
    }
  }

  function jsApiCall()
  {
  
    WeixinJSBridge.invoke(
          'getBrandWCPayRequest',{$parameters},
          function(res){     
              if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                  window.location.href="{:U($url_str,array('order_sn'=>$order_sn,'status'=>1))}";
              }else{
                 window.location.href="{:U($url_str,array('order_sn'=>$order_sn,'status'=>0))}";
       
              }     
          }
      ); 
  }

  callpay();
</script>