
    <link rel="stylesheet" type="text/css" href="__PCCSS__/user.css" />
  </head>
  <body>

    <include file="Public/top"/>
    <div class="user_bg">
        <div class="success">
            <h1><div class="img1"><img src="__PCIMG__/fail_03.jpg" alt="" /></div>抱歉！支付失败！</h1>
            <p>
              <a href="{:U('Order/detail',array('order_id'=>$order_id))}">查看订单</a><a href="{:U('Index/index')}" class="a2">继续购物</a>
            </p>
        </div>
    </div>
    
  </body>
</html>