<style type="text/css">
    .relation-article-btn{ display:inline-block; text-align:center; line-height:30px; vertical-align:middle; padding:0 10px;}
</style>
<div class="art-nav">
    <table class="js-tab tab">
        <tbody>
        <tr>
            <td class="hover" index="0"><h2>{$page_title}</h2></td>
            <td index="1"><h2>相关文章</h2></td>
        </tr>
        </tbody>
    </table>
    <span class="right">
        <a class="button" href="{:U('index')}">返 回</a>
    </span>
</div>
<form class="js-edit">
    <table class="tbl" style="width:100%;">
        <tbody>
        <tr>
            <td class="label">文章标题</td>
            <td><input name="title" class="text" type="text" value="{$edit['title']}" required="required" placeholder="请输入文章标题..."></td>
        </tr>
        <tr>
            <td class="label">文章分类</td>
            <td>
                <tagLib name="html"/>
                <html:select name="topic_id" options="topic" selected="edit['topic_id']" first="—请选择—" style="select"/>
            </td>
        </tr>
        <tr>
            <td class="label">文章封面</td>
            <td>
                <if condition="$edit['article_thumb']">
                    <p>
                        <a href="{$edit['article_thumb']}" target="_blank"><img src="{$edit['article_thumb']}" height="120"></a>
                        <input type="hidden" name="article_thumb" value="{$edit['article_thumb']}"><br><br>
                    </p>
                </if>
                <button class="button js-upload-file" type="button">上传图片</button>
                <button class="button js-select-file" type="button">相册选择</button>
            </td>
        </tr>
        <tr>
            <td class="label">文章详情</td>
            <td><textarea style="height:500px;width:100%" id="content" name="content">{$edit['content']}</textarea></td>
        </tr>
        </tbody>
    </table>
    <table class="tbl" style="display:none; width:100%;">
        <tbody>
        <tr>
            <td class="label">相关文章</td>
            <td>
                <tagLib name="html"/>
                <html:select options="topic" first="—请选择—" style="select js-relation-article-topic-id"/>
                <input class="text js-relation-article-search" type="text" placeholder="文章标题...">
            </td>
        </tr>
        <tr>
            <td class="label"></td>
            <td>
                <select class="select js-relation-article-search-result" multiple style="min-width:300px; min-height:200px;"></select>
                <div class="relation-article-btn">
                    <p><label><input name="relation_type" type="radio" value="0" checked> 单向关联</label></p>
                    <p><label><input name="relation_type" type="radio" value="1"> 双向关联</label></p>
                    <p><button class="js-relation-article-insert" data-rel="all" type="button">》</button></p>
                    <p><button class="js-relation-article-insert" data-rel="one" type="button">></button></p>
                    <p><button class="js-relation-article-remove" data-rel="one" type="button"><</button></p>
                    <p><button class="js-relation-article-remove" data-rel="all" type="button">《</button></p>
                </div>
                <select name="relation_article" class="select" multiple style="min-width:300px; min-height:200px;"></select>
                <textarea class="js-relation-article" style="display:none;">{$edit['relation_article']}</textarea>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="tbl tbl-submit" style="width:100%;">
        <tbody>
        <tr>
            <td class="label"></td>
            <td><button type="submit" class="submit">提 交</button></td>
        </tr>
        </tbody>
    </table>
</form>
<script src="__ROOT__/Public/Common/Ueditor/ueditor.config.js"></script>
<script src="__ROOT__/Public/Common/Ueditor/ueditor.all.min.js"></script>
<script>window.UEDITOR_CONFIG['serverUrl']="{:U('UploadFile/ueditor')}";</script>
<script>
    /* --关联文章-- */
    var rasr = $('.js-relation-article-search-result');
    var ra = $('select[name="relation_article"]');
    $('.js-relation-article-search').on('keypress',function(event){
        if(event.keyCode == 13){
            event.preventDefault();

            var data = {
                'words':$('.js-relation-article-search').val(),
                'topic_id':$('.js-relation-article-topic-id').val()
            };
            $.post("{:U('search')}",data,function(ret){
                if (!ret)
                    return;

                var tpl = '<option value="{value}">{text}</option>';
                var html = '';

                $.each(ret,function(i,e){
                    html += Core.FormatTpl(tpl,{'value':e.id,'text':e.title});
                });

                rasr.html(html);
            });
        }
    });

    $('.relation-article-btn').on('click','.js-relation-article-insert',function(){
        if ($(this).attr('data-rel') == 'all'){
            ra.append(rasr.find('option').clone());
        }else{
            ra.append(rasr.find(':selected').clone());
        }
    }).on('click','.js-relation-article-remove',function(){
        if ($(this).attr('data-rel') == 'all'){
            ra.html('');
        }else{
            ra.find(':selected').remove();
        }
    });

    if ($('.js-relation-article').val() && $('.js-relation-article').val() != '[]'){
        var relation_article = $.parseJSON($('.js-relation-article').val());
        $.post("{:U('search')}",{'article_id':relation_article},function(ret){
            if (!ret)
                return;

            var tpl = '<option value="{value}">{text}</option>';
            var html = '';

            $.each(ret,function(i,e){
                html += Core.FormatTpl(tpl,{'text':e.title,'value':e.id});
            });

            $('select[name="relation_article"]').html(html);
        });
    }
    /* --end-- */

    $('.js-upload-file').on('mouseenter',function(){
        var el = $(this);
        el.upfile();
        window.callback = function(ret){
            var tpl = '<p>' +
                    '<a href="{url}" target="_blank"><img src="{url}" height="120"></a>' +
                    '<input type="hidden" name="article_thumb" value="{url}"><br><br>' +
                    '</p>';

            if (ret.state){
                el.siblings('p').remove();
                el.parent().prepend(Core.FormatTpl(tpl,{'url':ret.url}));
            }else{
                Core.Alert({'text':ret.message,'state':'err'});
            }
        }
    });

    $('.js-select-file').on('click',function(){
        var el = $(this);
        el.selfile();
        window.callback = function(ret){
            var tpl = '<p>' +
                    '<a href="{url}" target="_blank"><img src="{url}" height="120"></a>' +
                    '<input type="hidden" name="article_thumb" value="{url}"><br><br>' +
                    '</p>';

            el.siblings('p').remove();
            el.parent().prepend(Core.FormatTpl(tpl,{'url':ret.url}));
            Core.Frame({'close':true});
        }
    });

    $('.js-edit').on('submit',function(event){
        var data = Core.InputObj(this);

        /* --相关文章-- */
        data['relation_article'] = [];
        $('select[name="relation_article"] option').each(function(i,e){
            data['relation_article'].push(e.value);
        });
        /* --end-- */

        $.post('',data,function(ret){
            if ( ret.state ){
                Core.Alert({ 'text':ret.message,'state':'suc','callback':function(){
                    location.href = "{:U('index')}";
                } });
            }else{
                Core.Alert({ 'text':ret.message,'state':'err' });
            }
        },'json');

        return false;
    });

    UE.getEditor('content');

    $('.js-tab').on('click','td',function(){
        $('.js-tab td').removeClass('hover');
        $(this).addClass('hover');
        $('.js-edit > .tbl').hide().eq($(this).attr('index')).show();
        $('.tbl-submit').show();
    });
</script>