<!DOCTYPE html>
<include  file="Public/health_header"/>
    <link rel="stylesheet" type="text/css" href="__HEATH__Css/special_explain.css"/>
    </head>
    <body>
    <div class="header_position">
        <div  onclick="history.go(-1);" class="special_title">
            成功案例分享
            <i class="title_font">&#xe702;</i>
        </div>
    </div>

    <div class="special_share">
        <div class="container">
            <img src="__HEATH__Images/special_share_03.jpg">
            <p>在屡次减肥失败之后，我决定要寻求科学的减肥方法，于是我购买健康减重项目，采用饮食餐单。同时，保持每天运动，还增加了局部的力量练习。这样能更好的塑造肌肉，保持身体的线条。50天后，我终于看到脚底秤上的指针从60公斤打回到52公斤。</p>
        </div>
        <div class="container">
            <img src="__HEATH__Images/special_share-_04.jpg">
            <p>由于生活不规律，导致体重增加，还得了肝硬化，自己都放弃治疗了，最后抱着一试的态度，接受健康减重这个项目，不仅体重减少了，现在是中度脂肪肝得到了改善。（减重13斤）
</p>
        </div>
        <div class="container">
            <img src="__HEATH__Images/special_share-_05.jpg">
            <p>当检查出得了脂肪肝之后，找了好多医院治疗，都没有得到明显的改善，偶然机会知道整体美健康减重项目，通过一段时间的调理，现在重度脂肪肝也得到了改善（减重16斤）</p>
        </div>
        <div class="container">
            <img src="__HEATH__Images/special_share-_06.jpg">
            <p>随着工作和生活压力的增大，加上平日疏于锻炼，出现了疲劳综合征，导致体重暴增、身材走样，自从用了整体美健康减重项目之后，通过健康的减肥手段，合理的饮食，恢复到了苗条身材（减重5斤）</p>
        </div>
    </div>

    <include  file="Public/health_footer"/>

    </body>
</html>