<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>女性整体美解决方案领导者</title>
<link rel="stylesheet" type="text/css" href="Css/base.css" />
<link rel="stylesheet" type="text/css" href="Css/submit_same_mobile.css" media="(max-width:750px)" />
<link rel="stylesheet" type="text/css" href="Css/submit_same_pad.css" media="(min-width:750px)">
<script type="text/javascript" src="Js/jquery.js"></script>
</head>
<body>
<!-- 网站头部 -->
<div class="head_box">
    <div class="head">
        我的余额
        <div class="return"><img src="Images/fh.jpg" height="37" width="18" alt="" /></div>
    </div>
</div>
<!-- 内容 -->
<article>
    <div class="bgg"><img src="Images/bg.jpg" height="178" width="259" alt="" /></div>
    <div class="bgg_inf">
        <div class="big">充值成功!</div>
        <div class="small">我的余额：￥288</div>
    </div>
</article>
</body>
</html>