<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>女性整体美解决方案领导者</title>
<link rel="stylesheet" type="text/css" href="Css/base.css" />
<link rel="stylesheet" type="text/css" href="Css/order_mobile.css" media="(max-width:750px)" />
<link rel="stylesheet" type="text/css" href="Css/order_pad.css" media="(min-width:750px)">
<script type="text/javascript" src="Js/jquery.js"></script>
</head>
<body>
<!-- 网站头部 -->
<div class="head_box">
    <div class="head">
        我的订单
        <div class="return"><img src="Images/fh.jpg" height="37" width="18" alt="" /></div>
    </div>
    <div class="columns_box">
        <div class="columns_in cur">
            <div class="columns">待付款</div>
        </div>
        <div class="columns_in">
            <div class="columns">待发货</div>
        </div>
        <div class="columns_in">
            <div class="columns">待收货</div>
        </div>
        <div class="columns_in">
            <div class="columns">待评价</div>
        </div>
        <div class="columns_in">
            <div class="columns">退款/售后</div>
        </div>
    </div>
    <script type="text/javascript">
        $('.columns_in').on('click',function(event) {
            $(this).addClass('cur').siblings().removeClass('cur');
        });

    </script>
</div>
<!-- 内容 -->
<div class="content">
<!-- 待付款 -->
    <div class="goods_bbox goods_one acc">
        <!-- 订单 -->
        <div class="goods_box">
            <div class="goods_in">
                <div class="goods_photo"><img src="Images/goods.jpg" height="440" width="360" alt="" /></div>
                <div class="goods_inf">
                    <div class="title">香诗丽欧美大牌高端九分袖钉珠网纱拼接针织衫打底衫</div>
                    <div class="price">
                        ￥<i>228</i>
                        <div class="left">x1</div>
                    </div>
                    <div class="inf_other">
                        尺码：M
                        颜色：酒红色
                    </div>
                </div>
            </div>
            <div class="goods_in">
                <div class="goods_photo"><img src="Images/goods.jpg" height="440" width="360" alt="" /></div>
                <div class="goods_inf">
                    <div class="title">香诗丽欧美大牌高端九分袖钉珠网纱拼接针织衫打底衫</div>
                    <div class="price">
                        ￥<i>228</i>
                        <div class="left">x1</div>
                    </div>
                    <div class="inf_other">
                        尺码：M
                        颜色：酒红色
                    </div>
                </div>
            </div>
            <div class="bt_box">
                <div class="bt one delate">删 除</div>
                <div class="bt two">评 论</div>
            </div>
        </div>
    </div>
<!-- 待发货 -->
    <div class="goods_bbox goods_two">
        <div class="goods_box">
            <div class="goods_in">
                <div class="goods_photo"><img src="Images/goods.jpg" height="440" width="360" alt="" /></div>
                <div class="goods_inf">
                    <div class="title">香诗丽欧美大牌高端九分袖钉珠网纱拼接针织衫打底衫</div>
                    <div class="price">
                        ￥<i>228</i>
                        <div class="left">x1</div>
                    </div>
                    <div class="inf_other">
                        尺码：M
                        颜色：酒红色
                    </div>
                </div>
            </div>
            <div class="goods_in">
                <div class="goods_photo"><img src="Images/goods.jpg" height="440" width="360" alt="" /></div>
                <div class="goods_inf">
                    <div class="title">香诗丽欧美大牌高端九分袖钉珠网纱拼接针织衫打底衫</div>
                    <div class="price">
                        ￥<i>228</i>
                        <div class="left">x1</div>
                    </div>
                    <div class="inf_other">
                        尺码：M
                        颜色：酒红色
                    </div>
                </div>
            </div>
            <div class="bt_box">
                <div class="three">提醒发货</div>
            </div>
            <div class="order_inf">
                订单号：123456 <br />
                成交时间：2015-10-21 &nbsp&nbsp
                15:52:30
            </div>
        </div>
        <div class="goods_box">
            <div class="goods_in">
                <div class="goods_photo"><img src="Images/goods.jpg" height="440" width="360" alt="" /></div>
                <div class="goods_inf">
                    <div class="title">香诗丽欧美大牌高端九分袖钉珠网纱拼接针织衫打底衫</div>
                    <div class="price">
                        ￥<i>228</i>
                        <div class="left">x1</div>
                    </div>
                    <div class="inf_other">
                        尺码：M
                        颜色：酒红色
                    </div>
                </div>
            </div>
            <div class="bt_box">
                <div class="three">提醒发货</div>
            </div>
            <div class="order_inf">
                订单号：123456 <br />
                成交时间：2015-10-21 &nbsp&nbsp
                15:52:30
            </div>
        </div>
    </div>
<!-- 代收货 -->
    <div class="goods_bbox goods_three">
        <div class="goods_box">
            <div class="goods_in">
                <div class="goods_photo"><img src="Images/goods.jpg" height="440" width="360" alt="" /></div>
                <div class="goods_inf">
                    <div class="title">香诗丽欧美大牌高端九分袖钉珠网纱拼接针织衫打底衫</div>
                    <div class="price">
                        ￥<i>228</i>
                        <div class="left">x1</div>
                    </div>
                    <div class="inf_other">
                        尺码：M
                        颜色：酒红色
                    </div>
                </div>
            </div>
            <div class="bt_box">
                <div class="bt one">查看物流</div>
                <div class="bt two">确认收货</div>
            </div>
        </div>
    </div>
<!-- 待评价 -->
    <div class="goods_bbox goods_four">
        <div class="goods_box">
            <div class="goods_in">
                <div class="goods_photo"><img src="Images/goods.jpg" height="440" width="360" alt="" /></div>
                <div class="goods_inf">
                    <div class="title">香诗丽欧美大牌高端九分袖钉珠网纱拼接针织衫打底衫</div>
                    <div class="price">
                        ￥<i>228</i>
                        <div class="left">x1</div>
                    </div>
                    <div class="inf_other">
                        尺码：M
                        颜色：酒红色
                    </div>
                </div>
            </div>
            <div class="bt_box">
                <div class="bt one delate">删 除</div>
                <div class="bt two">评 论</div>
            </div>
        </div>
    </div>
<!-- 退货售后 -->
    <div class="goods_bbox goods_five">
        <div class="goods_box">
            <div class="goods_in">
                <div class="goods_photo"><img src="Images/goods.jpg" height="440" width="360" alt="" /></div>
                <div class="goods_inf">
                    <div class="title">香诗丽欧美大牌高端九分袖钉珠网纱拼接针织衫打底衫</div>
                    <div class="price">
                        ￥<i>228</i>
                        <div class="left">x1</div>
                    </div>
                    <div class="inf_other">
                        尺码：M
                        颜色：酒红色
                    </div>
                </div>
            </div>
            <div class="bt_box">
                <div class="bt three">申请售后</div>
            </div>
        </div>
    </div>
</div>
<!-- 提醒层 -->
<div class="bg">
    <div class="remind">提醒发货成功!</div>
</div>
<script>
    // 点击勾选
    $('.tick_box').on('click',function(event) {
        $(this).find('.rud').toggle();
        $(this).find('.tick').toggle();
    });
    // 切换类型
    $('.columns_in').on('click',function(event) {
        var index = $(this).index()
        $('.goods_bbox').eq(index).addClass('acc').siblings().removeClass("acc");
    });
    // 点击收货
    $('.goods_three .two').on('click',function(event) {
        $(this).css('background', '#C9C9C9');
        if($(this).text() =='确认收货' ){
            $('.bg').stop().fadeIn();
            $('.bg .remind').text('确认收货成功！');
            $(this).text('已收货');
        }else{
            $(this).text('已收货');
        }
        setInterval(function(){
            $('.bg').stop().fadeOut();
        },2000)
    });
    $(".goods_two .three").on('click',function(event) {
        $('.bg').stop().fadeIn();
        $('.bg .remind').text('提醒发货成功！');
        setInterval(function(){
            $('.bg').stop().fadeOut();
        },2000)
    });
    $('.bg').on('click',function(event) {
        $('.bg').stop().fadeOut();
    });
    $('.delate').on('click',function(event) {
        console.log(0)
        $(this).closest('.goods_box').remove();
    });
</script>
<!-- 版权 -->
    <div class="copyright">
        &copy整体美商城<br />
        客服电话：400-777-1225<br />
        客服微信：HRlianna
    </div>
    <div class="placeholder"></div>
<!-- 底部导航栏开始 -->
    <div class="nav_box">
    <a href="#">
        <div class="nav_in">
            <div class="nav"><img src="Images/nav1.gif" alt="" /></div>
        </div>
    </a>
    <a href="#">
        <div class="nav_in">
            <div class="nav"><img src="Images/nav2.gif" alt="" /></div>
        </div>
    </a>
    <a href="#">
        <div class="nav_in">
            <div class="nav">
                <img src="Images/nav3.gif" alt="" />
                <!-- 购物车上数字 -->
                <div class="goods_num">2</div>
                <!-- 购物车上数字结束 -->
            </div>
        </div>
    </a>
    <a href="#">
        <div class="nav_in">
            <div class="nav"><img src="Images/nav4.gif" alt="" /></div>
        </div>
    </a>
    </div>
<!-- 底部导航栏结束 -->
</body>
</html>