<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>女性整体美解决方案领导者</title>
<link rel="stylesheet" type="text/css" href="Css/base.css" />
<link rel="stylesheet" type="text/css" href="Css/package_mobile.css" media="(max-width:750px)" />
<link rel="stylesheet" type="text/css" href="Css/package_pad.css" media="(min-width:750px)">
<link rel="stylesheet" type="text/css" href="Css/swiper.css" />
<script type="text/javascript" src="Js/jquery.js"></script>
<script type="text/javascript" src="Js/swiper.jquery.min.js"></script>
</head>
<body>
<!-- 其他 -->
<div class="returntop top"><img src="Images/top.png" alt="" /></div>
<script>
    $(window).on('scroll',function(e){
        var winST = $(window).scrollTop()
        if(winST>100){
            $('.returntop').fadeIn(400);
            $(".search_box").fadeIn(400)
        }else{
            $('.returntop').fadeOut(400);
            $('.search_box').fadeOut(400)
        }
    })
    $('.returntop').on('click',function(e) {           
        $('html,body').animate({scrollTop:0},500)
    });
</script>
<!-- 大礼包头部开始 -->
<div class="header_box">
    <div class="header_title">整体美礼包</div>
    <span class="return"><img src="Images/fh.jpg" alt="" /></span>
    <span class="rt_home">
        <a href="#">
            <img src="Images/car.png" alt="" />
            <div class="num">2</div>
        </a>
    </span>
</div>
<!-- 大礼包头部结束 -->
<!-- 大礼包内容开始 -->
<div class="address_box">

    <div class="bag_box">
        <div class="bag_title">
            礼包1
            <i>￥1278</i>
            <div class="tick"></div>
        </div>
        <div class="show swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="Images/bag_1.gif" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="Images/bag_2.gif" alt="" />
                </div>
            </div>
        </div>
        <div class="bag_in">
            <div class="bag" index="2-1">
                <div class="photo">
                    <img src="Images/bag_1.gif" alt="" />
                </div>
                <div class="bag_inf">
                    <div>香诗丽欧美大牌高端九分袖钉珠网纱拼接针织衫打底衫</div>
                    <div class="choose">
                        请选择规格
                        <div class="span"><img src="Images/fhy2.jpg" alt="" /></div>
                    </div>
                    <div class="value">
                        <div class="name">商品规格</div>
                        <div class="value_box">
                            <div class="value1"></div>
                            <div class="value2"></div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="bag" index="2-2">
                <div class="photo">
                    <img src="Images/bag_1.gif" alt="" />
                </div>
                <div class="bag_inf">
                    <div>香诗丽欧美大牌高端九分袖钉珠网纱拼接针织衫打底衫</div>
                    <div class="choose">
                        请选择规格
                        <div class="span"><img src="Images/fhy2.jpg" alt="" /></div>
                    </div>
                    <div class="value">
                        <div class="name">商品规格</div>
                        <div class="value_box">
                            <div class="value1"></div>
                            <div class="value2"></div>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="place_box">
                <div class="bag_title">
                    礼包1:
                    <i>￥1278</i>&nbsp&nbsp&nbsp&nbsp
                    <em>原价<u>￥1878</u></em>
                </div>
                <div class="province">
                    <div class="pane">立省:￥600</div>
                    <div class="goods_num">
                        <button type="button" class="cut">－</button>
                        <input type="text" name="num" value="1" id="num" min="1" />
                        <button type="button" class="add">＋</button>
                    </div>
                </div>
                <div class="add_in">
                    <a href="#">
                        <div class="add_bt">加入购物车</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="other"></div>
<div class="copyright">
    &copy整体美商城<br />
    客服电话：400-777-1225<br />
    客服微信：HRlianna
</div>
<div class="bg">
    <div class="bg_box">
        <div class="title">颜色</div>
        <div class="color_box">
            <input type="radio" name="color" value="酒红色" id="color1" />
            <label for="color1" class="rdo_cur">酒红色</label>
            <input type="radio" name="color" value="黑色"  id="color2" />
            <label for="color2">黑色</label>
            <input type="radio" name="color" value="杏色"  id="color3" />
            <label for="color3">杏色</label>
            <input type="radio" name="color" value="杏色"  id="color3" />
            <label for="color4">杏色</label>
            <input type="radio" name="color" value="杏色"  id="color4" />
            <label for="color5">杏色</label>
            <input type="radio" name="color" value="杏色"  id="color5" />
            <label for="color6">杏色</label>
            <input type="radio" name="color" value="杏色"  id="color6" />
            <label for="color7">杏色</label>
            <input type="radio" name="color" value="杏色"  id="color7" />
        </div>
        <div class="title">服装尺码</div>
        <div class="size">
            <input type="radio" name="size" value="小" id="size1" />
            <label for="size1" class="rdo_cur">S</label>
            <input type="radio" name="size" value="中"  id="size2" />
            <label for="size2">M</label>
            <input type="radio" name="size" value="大"  id="size3" />
            <label for="size3">L</label>
            <input type="radio" name="size" value="加大"  id="size4" />
            <label for="size4">XL</label>
            <input type="radio" name="size" value="中"  id="size5" />
            <label for="size5">M</label>
            <input type="radio" name="size" value="大"  id="size6" />
            <label for="size6">L</label>
            <input type="radio" name="size" value="加大"  id="size7" />
            <label for="size7">XL</label>
            <input type="radio" name="size" value="中"  id="size8" />
            <label for="size8">M</label>
            <input type="radio" name="size" value="大"  id="size9" />
            <label for="size9">L</label>
            <input type="radio" name="size" value="加大"  id="size10" />
            <label for="size10">XL</label>
        </div> 
        <div class="bt_box">
            <div class="cancel">取 消</div>
            <div class="determine">确 定</div>
        </div>
    </div>
</div>
<script>
    var swiper3 = new Swiper('.show', {
        slidesPerView: "auto",
        freeMode : true,
        spaceBetween: 10
    });
    $(".bag_title").on('click',function(event) {
        $(this).parent().siblings().children(".show").css('display', 'block');
        $(this).parent().siblings().children('.bag_in').slideUp(0);
        $(this).siblings('.show').toggle(0)
        $(this).siblings('.bag_in').slideToggle(0)
    });
    $("label").on('click',function(event) {
        $(this).addClass('rdo_cur').siblings('label').removeClass('rdo_cur')
    });
    $('.choose').on('click',function(event) {
        var index = $(this).closest('.bag').attr('index');
        $('.bg').attr('index',index).fadeIn();
        $('.cancel').on('click',function(event) {
            $('.bg').fadeOut();
        });
        var index = $(this).parent().parent().index()
        
        $('.determine').on('click',function(event){
            $('.bg').fadeOut();

            $('.bag[index="'+$(this).closest('.bg').attr('index')+'"]').children('.bag_inf').children('.value').css('display', 'block');
            $('.bag[index="'+$(this).closest('.bg').attr('index')+'"]').children('.bag_inf').children('.value').children('.value_box').children('.value1').text($('.color_box .rdo_cur').text())
            $('.bag[index="'+$(this).closest('.bg').attr('index')+'"]').children('.bag_inf').children('.value').children('.value_box').children('.value2').text($('.size .rdo_cur').text())
        });
    });
</script>
</body>
</html>