<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>女性整体美解决方案领导者</title>
<link rel="stylesheet" type="text/css" href="Css/base.css" />
<link rel="stylesheet" type="text/css" href="Css/privilege_same_mobile.css" media="(max-width:750px)" />
<link rel="stylesheet" type="text/css" href="Css/privilege_same_pad.css" media="(min-width:750px)">
<script type="text/javascript" src="Js/jquery.js"></script>
</head>
<body>
<!-- 网站头部 -->
<div class="head_box">
    <div class="head">
    <!-- 根据选择卡片显示头部 -->
        整体美容颜管理
        <div class="return"><img src="Images/fh.jpg" height="37" width="18" alt="" /></div>
    </div>
</div>
<!-- 内容 -->
<div class="card_box">
    <div class="card_in">
        <img src="Images/card01.png" alt="" />
        <div class="card_num">7771 12** **** ****</div>
        <div class="card_inf">
            面值：1000元<br />
            余额：888元
        </div>
    </div>
    <div class="card_article">
        卡片信息
    </div>
    <div class="placeholder"></div>
    <div class="pay_btnbox">
        <div class="pay_btn"><a href="javascript:;">立即购买</a></div>
    </div>
</div>
</body>
</html>
