html{font-size:12px;font-family: "冬青黑体简体中文";background:#F3F3F3;}
body{background:#F3F3F3;}
.header_box{width:100%;max-width:750px;text-align: center;position:fixed;z-index:999;}
.return{width:10px;position:absolute;left:10px;top:10px;display:block;}
.header_title{height:44px;background:#fff;font-size:1.4rem;line-height: 44px;}
.address_box{padding-top: 44px;}
.default_inf{font-size: 1.2rem;background:#fff;margin-top:2%;height:30px;line-height:30px;overflow: hidden;padding:0 10px;}
.default_inf .name{float:left;}
.default_inf .telephone{float:right;}
.place{color:#7F7F7F;background:#fff;padding:0 10px 5px;line-height: 20px;}
.list_box{font-size: 1.2rem;height:44px;line-height: 44px;padding-left:35px;border-top: 1px solid #F3F3F3;position:relative;background:#fff;}
.icon{width:15px;position:absolute;left:10px;top:12.5px;}
.jump{width:10px;position:absolute;right:10px;top:12.5px;}
.columns_box{margin-top:2%;background:#fff;font-size: 1.2rem;}
.title{height:35px;line-height:35px;padding-left:10px;}
.columns_box .list_box .icon{width:15px;top:14px;}
.list_box i{font-size: 1rem;color:#ADADAD;}
.columns_box .list_box .not{top:10px;}
.tick{width:12.5px;position:absolute;right:10px;top:15px;display:none;}
.goods_box{width:100%;padding:20px 10px;box-sizing: border-box;font-size:1.1rem;overflow:hidden;position:relative;height:165px;}
.goods_box .goods_pho{width:125px;height:125px;overflow:hidden;position:absolute;left:10px;border: 1px solid #000;}
.goods_box .inf_box{width:100%;padding-left:145px;box-sizing: border-box;}
.goods_box .goods_inf{line-height:100%;font-size: 1.2rem;}
.goods_box .price{font-weight: bold;color:#E8C473;margin-top:10px;}
.goods_box .price i{font-size: 1.6rem;}
input{display:none;}
.footer{position:fixed;width:100%;height:60px;color:#fff;font-size:1.1rem;line-height:60px;max-width: 750px;bottom:10px;background:rgba(0,0,0,0.8);overflow:hidden;z-index: 998;}
.footer .all_price{margin:0 10px;float:left;}
.footer .pay_bt{width:100px;height:35px;background:#E8C473;max-width: 750px;line-height:35px;text-align: center;float:right;margin:12.5px 10px 0 0;}

.card_bg{width:100%;height:100%;max-width: 750px;background:rgba(0,0,0,0.5);position:fixed;top:0;z-index: 9999;display:none;}
.card_box{width:90%;height:165px;background:#fff;overflow:auto;position:absolute;left:50%;margin-left: -45%;top:50%;margin-top: -82.5px;}
.card{width:100%;box-sizing: border-box;font-size: 1.3rem;line-height: 55px;height:55px;border-bottom: 1px solid #7F7F7F;padding:0 10px;position:relative;}
.card .tick{top:20px;right:7.5px;}
.packetin .card{text-align: center;font-weight: bold;}
.payfor_bg{width:100%;height:100%;max-width: 750px;background:rgba(0,0,0,0.6);position:fixed;top:0;z-index: 9998;display:none;}
.pay_box{width:100%;background:#fff;position:absolute;bottom:0;display:none;}
.pay_title{height:45px;text-align: center;line-height: 45px;font-size: 1.4rem;border-bottom: 1px solid #ccc;position:relative;}
.cancel{color:#7F7F7F;font-size:1.1rem;position:absolute;left:10px;top:0;height:20px;}
.pay_in{height:45px;line-height:45px;font-size:1.2rem;border-bottom:1px solid #ccc;overflow:hidden;}
.pay_in .left{float:left;margin-left: 10px;}
.pay_in .right{float:right;margin-right:10px;}
.pay_box .not{border:0;font-weight: bold;}
.confirm_box{width:100%;height:64px;margin-top:20px;}
.confirm{width:80%;height:44px;text-align:center;line-height:44px;font-size: 1.2rem;color:#fff;margin:0 auto;background:#E9C574;}
.cancel_bg{width:100%;height:100%;max-width: 750px;background:rgba(0,0,0,0.6);position:fixed;top:0;z-index: 9999;display:none;}
.cancel_box{width:90%;background:#fff;text-align: center;position:absolute;left:50%;margin-left:-45%;top:50%;margin-top:-85px;}
.cancel_title{font-size: 1.4rem;height:90px;line-height:90px;}
.cancel_bt{height:80px;overflow:hidden;font-size: 1.2rem;}
.cancel_bt .left{width:42%;height:40px;float:left;margin-left: 5%;border: 1px solid #E8C473;box-sizing: border-box;line-height:40px;color:#E8C473;}
.cancel_bt .right{width:42%;height:40px;float:right;margin-right: 5%;background:#E8C473;box-sizing: border-box;line-height:40px;color:#fff;}
.integralin .integral_box{width:90%;min-height:180px;background:#fff;position:absolute;left:50%;margin-left: -45%;top:50%;margin-top:-80px;}
.integralin_now{width:160px;margin:20px auto 0;font-size: 1.2rem;}
.integral_input{width:100px;height:30px;line-height: 30px;color:#7F7F7F;text-align: center;border-radius: 0;border:0;border-bottom:1px solid #000;margin:0 auto;font-size: 1.2rem;display:block;}
.integral_bt{width:40%;height:30px;line-height:30px;text-align: center;margin:20px auto;background:#E8C473;font-size: 1.2rem;color:#fff;}


.rt_home{position:absolute;right:10px;top:10px;display:block;}
.goods_num{display:block;margin:10px auto 2.5px;overflow:hidden;padding:2.5px;}
.goods_num input::-webkit-inner-spin-button {
     -webkit-appearance: none;
}
.goods_num input{width:30px;font-size:1.0rem;display:inline-block;text-align:center;border-radius: 0;border:0;border-left:1px solid #CDCDCD;border-right:1px solid #CDCDCD;margin:0 2.5px;font-size: 1.2rem;}
.goods_num button{font-size: 1.4rem;background:#fff;border:0;outline:none;}
.package{position:relative;}
.package .inf_box{padding-top:5px;box-sizing: border-box;}
.package .goods_num{position:absolute;top:50%;z-index: 888;left:40%;margin:0;}
.package_name{padding-left:2.5px;line-height: 30px;font-size: 1.2rem;}
.package_name u{color:#E8C473;}
.package_name i{font-size: 1.6rem;}


.top{width:30px;height:30px;position:fixed;bottom:10%;right:5%;display:none;}
.placeholder{height:70px;background:#fff;}


.address_box h3{font-size: 1.5rem;text-align: center;line-height: 15px;margin-bottom:25px;font-weight: bold;}
.pay_inf{font-size: 1.2rem;line-height: 25px;width:220px;margin:0 auto;}
.bbg{width:25%;margin:72px auto 40px;}


.use_infbox{padding:0 10px;background:#fff;margin-top:2%;}
.inf{height:50px;padding:0 10px;border-bottom: 1px solid #DCDCDC;line-height: 50px;overflow:hidden;}
.inf .left{float:left;font-size: 1.2rem;color:#252525;}
.inf .right{float:right;height:100%;font-size: 1.1rem;color:#7F7F7F;position:relative;}
.inf:last-child{border:0;}
.inf1{height:80px;line-height:80px;}
.user_photo{width:50px;height:50px;border-radius: 50%;overflow:hidden;position:absolute;top:50%;margin-top:-25px;right:0;}
.user_photo_box{width:100%;height:100%;border: 7px solid #fff;border-radius: 50%;position:absolute;box-sizing: border-box;top:0;left:0;opacity: 0.5;}
.inf4 .right{width:8px;margin-top:16px}