@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding: 0; margin: 0; }
fieldset, img { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
address, caption, cite, code, dfn, em, th, var { font-weight: normal; font-style: normal; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
a { text-decoration: none; }
input:focus, button:focus, select:focus { outline: none; }
.clear { clear: both; }
html { font-size: 10px; font-family: "冬青黑体简体中文"; }
.max { width: 100%; max-width: 750px; min-width: 320px; margin: auto; overflow: hidden; }
.detailed_text_h1 { font-size: 3.6rem; color: #252525; text-align: center; line-height: 1.5em; padding-top: 50px; padding-bottom: 50px; font-weight: bold; }
.detailed_text_daodu { margin-left: 2.6%; margin-bottom: 15px; font-size: 2.8rem; line-height: 5rem; color: #fff; background: #252525; width: 15rem; text-align: center; }
.detailed_text { padding: 0px 2.6%; }
.detailed_text p { font-size: 2.8rem; line-height: 1.5em; color: #252525; }
.detailed_text img { padding-top: 67px; padding-bottom: 20px; margin-bottom: 15px; border-bottom: 1px solid #808080; }
.detailed_bottom { padding: 1% 1.6%; margin: auto 2.6%; border-radius: 1.2rem; border: 1px solid #b8b7b6; box-shadow: 0px 0px 2px #b8b7b6; overflow: hidden; margin-top: 80px; }
.detailed_bottom .logo { float: right; width: 17.8%; }
.detailed_bottom .ewm { float: left; width: 24%; margin-top: 8%; margin-right: 2rem; }
.detailed_bottom p.p1 { font-size: 2rem; line-height: 1.5em; margin-top: 13%; margin-bottom: 2%; }
@font-face { font-family: 'iconfont'; src: url('font_detailed_text/iconfont.eot'); /* IE9*/ src: url('font_detailed_text/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */  url('font_detailed_text/iconfont.woff') format('woff'), /* chrome、firefox */  url('font_detailed_text/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/  url('font_detailed_text/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */ }
.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }
.detailed_bottom p.p2 { font-size: 2.2rem; }
.position { position: fixed; width: 100%; max-width: 750px; height: 88px; text-align: center; font-size: 1.4rem; line-height: 88px; background: #fff; border-bottom: 1px solid #ccc; }
.header_box1 { width: 100%; height: 88px; text-align: center; font-size: 33.6px; line-height: 88px; position: relative; }
.header_box1 .return1 { width: 18px; position: absolute; left: 20px; top: 26px; }
.kong { height: 88px; }
 @keyframes donghua { 0% {
left:0;
}
}
@-webkit-keyframes donghua { 0% {
left:0;
}
}
.detailed_bottom p.p2 i { font-size: 2.5rem; position: relative; left: -1em; display: inline-block; animation: donghua 1s linear 0s infinite normal; -webkit-animation: donghua 1s linear 0s infinite normal; }
@media (max-width:750px) {
.position, .header_box1, .kong { height: 40px; line-height: 40px; font-size: 16.8px; }
.header_box1 .return1 { width: 9px; position: absolute; left: 10px; top: 13px; }
}
@media (max-width:700px) {
html { font-size: 5px; }
.detailed_text_h1 { padding-bottom: 15px; padding-top: 15px; }
.detailed_text_daodu { line-height: 2em; width: 5em; margin-bottom: 8px; }
.detailed_text img { padding-top: 16px; padding-bottom: 10px; margin-bottom: 10px; }
.detailed_bottom { margin-top: 20px; border-radius: 5px; }
}



