html{font-size:12px;font-family: "冬青黑体简体中文";height:100%;}
body{background:#F1F1F1;height:100%;}
.header_box{width:100%;max-width:750px;text-align: center;position:fixed;z-index:999;}
.return{display:block;width:9px;position:absolute;left:10px;top:13px;}
.header_title{height:45px;background:#fff;font-size:1.4rem;line-height: 45px;}
.swiper-container {
        width: 100%;
        height: 100%;
    }
.swiper-slide {
    padding-top:45px;box-sizing: border-box;
}
.swiper-slide .bg{width:100%;height:100%;}
.goods .good_box{overflow: hidden;}
.good_box .sheep_box{width:47%;margin:2% 0 0 2%;float: left;background:#fff;}
.price{color:#AEAEAE;font-size: 1.1rem;}
.price b{color:#ECC35D;}
.price i{font-size: 1.3rem;}
.price u{text-decoration: line-through;}
.sheep_inf{color:#7F7F7F;height:36px;}
.copyright{font-size:0.8rem;text-align: center;margin:2% 0;color:#6d6d6d;}
.goods{height:auto;}
.vip_box{height:80%;}
.vip_good{padding:20px 10px;margin-top:5px;}
.good_in{position:relative;height:125px;}
.good_inf .price{margin:10px 0;}
.good_photo{width:125px;height:125px;overflow:hidden;position:absolute;}
.good_inf{padding-left:135px;}
.title{width:100%;box-sizing: border-box;font-size: 1.2rem;}
.bt_box{font-size: 1.2rem;text-align: center;line-height: 30px;}
.bt_left{width:80px;height:30px;border: 1px solid #E8C473;box-sizing: border-box;color:#E8C473;float:left;margin-right:5px;}
.bt_right{width:80px;height:30px;background:#E8C473;color:#fff;float:left;}