html{font-size:12px;font-family: "冬青黑体简体中文";height:100%;}
body{height:100%;background:#F1F1F1;}
.head_box{width:100%;max-width: 750px;position:fixed;top:0;background:#fff;z-index: 999;border: 1px solid #ccc;}
.head{width:100%;height:44px;text-align: center;font-size: 1.4rem;line-height:44px;position:relative;}
.head .return{width:9px;position:absolute;left:10px;top:13px;}
article{padding-top:44px;}
.rebate_box{margin:2% 0;height:178px;background:#fff;}
.rebate_inf{width:50%;height:89px;float: left;box-sizing: border-box;line-height:30px;text-align: center;font-size: 1.2rem;padding-top:14px;}
.rebate_inf:first-child{border-bottom:1px solid #F1F1F1;border-right:1px solid #F1F1F1;}
.rebate_inf:nth-child(2){border-bottom:1px solid #F1F1F1;}
.rebate_inf:nth-child(3){border-right:1px solid #F1F1F1;}
.list_box{padding:0 20px;box-sizing: border-box;background:#fff;font-size: 1.2rem;}
.list{border-bottom: 1px solid #CDCDCD;line-height: 45px;position:relative;}
.list i{color:#7F7F7F;font-size: 1rem;}
.list:last-child{border:0;}
.list .jump{width:8px;position:absolute;right:0;top:15px;}

.bt_box{width:100%;max-width:750px;position:fixed;bottom:0;padding:10px 0;text-align: center;background:#fff;font-size: 1.2rem;}
.bt_box .bt1{width:139px;height:34px;line-height: 34px;float:left;border: 1px solid #E9C574;box-sizing: border-box;margin-left: 6%;color:#E9C574;}
.bt_box .bt2{width:139px;height:34px;line-height: 34px;float:right;background:#E9C574;box-sizing: border-box;margin-right: 6%;color:#fff;}
.placeholder{height:68px;}

.bg{width:100%;height:100%;background:rgba(0,0,0,0.6);position:fixed;top:0;z-index: 999;display:none;}
.remind{width:194px;height:58px;background:#fff;position:absolute;top:50%;margin-top:-29px;left:50%;margin-left:-97px;text-align: center;line-height: 58px;font-size: 1.3rem;}
.bg .remind_box{width:90%;height:150px;top:50%;margin-top:-75px;font-size: 1.2rem;text-align: center;background:#fff;position:absolute;left:50%;margin-left:-45%;}
.remind_box .text{line-height: 54px;margin-top: 20px;}
.bg4 .remind_box .text{line-height: 54px;margin:0 0 20px;}
.remindbt_box .remind_bt1{width:125px;height:40px;line-height:40px;float:left;border: 1px solid #E9C574;box-sizing: border-box;margin-left: 6%;color:#E9C574;}
.remindbt_box .remind_bt2{width:125px;height:40px;line-height: 40px;float:right;background:#E9C574;box-sizing: border-box;margin-right: 6%;color:#fff;}
.bg3 input{border:0;border-bottom: 1px solid #252525;width:74px;text-align: center;}
.bg4 .text{line-height: 54px;height:54px;}
.bg4 .text i{display:inline-block;width:144px;height:100%;position:relative;background:url(../Images/password_bg.jpg) no-repeat center bottom;background-size: contain;}
.bg4 .text input{width:144px;height:60px;border:0;font-size: 5rem;position:absolute;left:1px;top:8px;background:none;letter-spacing:3px;}


